/*
* --------------------------------------------------------------
*   nf-core pipelines config file for AD project using CRA HPC
* --------------------------------------------------------------
*/

params {
  config_profile_name = 'adcra'
  config_profile_description = 'Profile for use on CRA HPC'
  
  max_cpus = 16
  max_memory = 64.GB
  max_time = 240.h
}

profiles {
  slurm {
    executor {
      name = 'slurm'
      queueSize = 20
      submitRateLimit = '10 sec'
    }
    process {
      queue = 'unlimit'
      clusterOptions = '--nodes=2'
    }
    singularity {
      enabled = true
      autoMounts = ture
    }
  }
}
